@model MVCSTOK.Models.Entity.Urunler
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.UrunID)
        @Html.TextBoxFor(m => m.UrunID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.UrunAdi)
        @Html.TextBoxFor(m => m.UrunAdi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Marka)
        @Html.TextBoxFor(m => m.Marka, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.UrunKategori)
        @Html.DropDownListFor(m => m.Kategoriler.KategoriID,(List<SelectListItem>)ViewBag.deger, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Fiyat)
        @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Stok)
        @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })


    </div>
    <div>
        <button class=" btn btn-warning">Urun Güncelle</button>
    </div>
}

